/*
 * Estilos de tu proyecto
 */
nav {
  background-color: #f6a831;
}

li {
  list-style: none;
}

nav {
  text-align: left;
}
nav li {
  margin-top: 15px;
}

.laboratoria {
  display: inline-block;
  margin-left: 550px;
  margin-top: 20px;
  height: 100px;
}
